<div *ngIf="category">
	<div>
		<!-- <label>Name: </label> {{category.$key}} -->
		<h4>{{category.$key}}</h4>
		<!-- {{search(category.$key)}} -->
	</div>

	<!-- Deletion -->
	<!-- <span class="btn btn-danger" (click)='deleteEffect()'>Delete</span> -->

	<!-- <ul>
		<li *ngFor="let effect of effects">
			<h4>{{effect.name}} - <a href="assets/sfx/{{effect.category}}/{{effect.name}}" class="button" download>Download</a></h4>
		</li>
	</ul> -->

	<ul>
		<li *ngFor="let effect of effects">
			<h4>{{effect.name}} - <button class="btn btn-success" (click)="download()">Download</button></h4>
		</li>
	</ul>

	<hr />
	<div *ngIf="effects?.length < 1">
		<p>Not found!</p>
	</div>


	<button type="button" class="btn btn-default" (click)="goBack()">Go Back</button>
</div>
